body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 20px;
}

.presentation,
.main-content,
.footer {
  @include clearfix;
  display: block;
  margin-top: $padding-xl;
}

.footer {
  margin-bottom: $padding-xl;
}

.row {
  @include break;
}

.col-lead {
  @include span(2 of 3 .1);
  @include first;
}

.col-logo {
  @include span(1 of 3 .1);
  @include last;
}
