@import 'susy';
@import 'breakpoint';

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: 100%,
  container-position: center,
  columns: 12,
  gutters: .1,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$padding-xl: 4rem;


@mixin clearfix() {
  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }

  // For IE 6/7 only
  // Include this rule to trigger hasLayout and contain floats.
  *zoom: 1;
}




@import 'letsecure/layout';
@import 'letsecure/type';
@import 'letsecure/header';
@import 'letsecure/presentation';
